body {
    background-color: #f8f9fa;
}

.navigation-section{
   height: 100%;
   padding: 20px 40px;
}

.jumbotron {
    background-color: #081f5c;
    color: #fff;
    /* padding: 80px 0px; */
}

.nav-background {
    background-color: #D0E3FF;
    padding: 80px 0px;
}

.app-description {
    text-align: center;
    padding: 40px 20px;
}

.botton-download{
    background-color:#081f5c;
    color: #fFF;
    padding: 10px;
    width: 150px;
    margin-bottom: 40px;
    border: none;
}

.botton-download-2{
    background-color:#081f5c;
    color: #fFF;
    padding: 10px;
    width: 150px;
    margin-bottom: 40px;
    border: none;
}

.background {
    background-color: #f2f0DE;
    padding: 40px 0px;
}

.card-img{
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
    padding-top: 20px;
}

.feature-cards {
    padding: 40px 20px;
    background-color: #fff;
}

.hero-image{
    max-height: 500px;
    max-width: 300px;
}

.download-button {
    text-align: center;
    margin-top: 20px;
    padding: 70px;
}

.footer {
    background-color: #081f5c;
    color: #D0E3FF;
    padding: 20px 0;
    text-align: center;
}



.nav-onepage{
    background-color: black;
    color: #fff;
}

.hero{
background-image: url("/img/Goals_copy_high.jpg");
background-repeat: no-repeat;
background-position: center;
height: 50vh;

}

.col-bg{
    background-color: red;
    border: rgb(26, 24, 22);
    border:2px;
}




/*Booststrap CSS overwrite*/

nav{
color:#fff;
}

.navbar-nav a{
    color: #fff;
}

.navbar-nav a:hover{
    color: #fff;
}